@inherits LayoutComponentBase
<!-- ⚫️⚫️☰☰☰☰☰☰☰☰☰☰☰☰☰☰☰☰☰☰☰☰☰☰☰☰☰☰☰☰☰☰☰☰☰☰☰☰☰☰☰☰☰☰☰☰☰☰☰☰☰☰☰☰☰☰☰☰ -->

<!--☰☰☰☰☰☰☰☰| Navbar |☰☰☰☰☰☰☰☰☰-->
<Header />

<!--☰☰☰☰☰☰☰☰| main |☰☰☰☰☰☰☰☰☰-->
<main class="container" >
	@Body
</main>

<!-- ⚫️⚫️☰☰☰☰☰☰☰☰☰☰☰☰☰☰☰☰☰☰☰☰☰☰☰☰☰☰☰☰☰☰☰☰☰☰☰☰☰☰☰☰☰☰☰☰☰☰☰☰☰☰☰☰☰☰☰☰ -->